<div class="principal">
    <div class="container-fluid">
        <!-- creando cabecera de la requisicion -->
        <div class="row">
            <legend> {{title}}</legend>
            <!--Dibujando la baecera de informacion-->
            <mat-form-field class="col-md-3 col-xs-12">
                <input name="" matInput [matDatepicker]="picker" [(ngModel)]="pedi.fechapedido" #fechapedido="ngModel"
                    placeholder="Fecha Pedido">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="col-md-5 col-xs-12">
                <mat-select matInput [(ngModel)]="pedi.pdestino" #nombre="ngModel" (ngModelChange)="setPersonal($event)"
                    placeholder="Asignar">
                    <mat-option *ngFor="let  pedi of perso" [value]="pedi.id">{{pedi.nombre}}</mat-option>
                </mat-select>
            </mat-form-field>
            <!--=============================================================
         boton agregar articulo
        =============================================================-->
            <div class="col-xs-12 col-md-3">
                <button class="botonbuscar col-md-12" mat-flat-button (click)="addConcepto()">NUEVO</button>
            </div>
        </div>
    </div>
    <!--=============================================================
         Creando tabla 
    =============================================================-->
    <div class="reporte">
        <table class="table table-striped table-hover">
            <thead class="tablareporte">
                <tr>
                    <th>Codigo</th>
                    <th>Existencia</th>
                    <th>Articulo</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th>Total</th>
                    <th>Dif. Existencia</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let lis of pedidos;let id = index">
                    <td>{{lis.codigo}}</td>
                    <td>{{lis.existencia}}</td>
                    <td>
                        <select class="cuadrotexto" [(ngModel)]="lis.id_almacen" #articulo="ngModel"
                            (ngModelChange)="setArticulo($event,id)">
                            <option *ngFor="let artitem of lisart" [value]="artitem.id">{{artitem.articulo}}</option>
                        </select>
                    </td>
                    <td> <input class="cuadrotexto" [(ngModel)]="lis.cantidad" #factura="ngModel" type="number" min="1"
                            max="{{lis.existencia}}" pattern="^[0-9]+">
                    </td>
                    <td> <input class="cuadrotexto" [(ngModel)]="lis.precio" #factura="ngModel" type="number"></td>
                    <td>{{lis.cantidad * lis.precio  |currency}}</td>
                    <td>{{lis.existencia - lis.cantidad }}</td>
                    <td class="cen">
                        <button class="botontaba" (click)="deleteRecord(i)" color="primary">
                            <span> <i class="fas fa-trash-alt"></i></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row form-group">
        <div class="col-md-3 col-xs-3">
            <a type="submit" class="btn btn-success col-md-12" style="margin: 1px" (click)="Guardar()">Guardar</a>
        </div>
        <div class="col-md-3 col-xs-3">
            <a type="submit" class="btn btn-danger col-md-12" style="margin: 1px" (click)="CancelEdit()">Cancelar</a>
        </div>
    </div>
</div>