<div class="principal">
    <!-- creando cabecera de la requisicion -->
    <div class="container-fluid">
        <div class="row">
            <fieldset>
                <legend> {{title}}</legend>
                <!--Dibujando la baecera de informacion-->
                <mat-form-field class="col-md-3 col-xs-12">
                    <input matInput [(ngModel)]="pedi.fechapedido" #fechapedido="ngModel" placeholder="Fecha Pedido"
                        readonly>
                </mat-form-field>
                <mat-form-field class="col-md-3 col-xs-12">
                    <input matInput [(ngModel)]="pedi.importe" #importe="ngModel" placeholder="Importe" readonly>
                </mat-form-field>
                <mat-form-field class="col-md-3 col-xs-12">
                    <input matInput [(ngModel)]="pedi.nombre" #nombre="ngModel" placeholder="Nombre" readonly>
                </mat-form-field>
                <mat-form-field class="col-md-3 col-xs-12">
                    <input matInput [(ngModel)]="pedi.tipo" #tipo="ngModel" placeholder="Tipo" readonly>
                </mat-form-field>
                <mat-form-field class="col-md-6 col-xs-12">

                    <mat-select name="premio" #premio="ngModel" [(ngModel)]="pedi.premio" placeholder="Premio">
                        <mat-option>none</mat-option>
                        <mat-option *ngFor="let item of list" [value]="item.nombre">
                            <span>{{item.nombre}}</span> |
                            <small>{{item.descripcion}}</small>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </fieldset>
        </div>
    </div>
    <div class="reporte">
        <table class="table table-striped table-hover">
            <thead class="tablareporte">
                <tr>
                  <th>Codigo</th>
                  <th>Articulo</th>
                  <th>Cant. Entregada</th>
                  <th>Devolucion</th>
                  <th>Cant. Ventas</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let lis of pedidos;let id = index">
                   <td>{{lis.codigo}}</td>
                   <td>{{lis.articulo}}</td>
                   <td>{{lis.existencia}}</td>
                   <td> <input class="cuadrotexto" (change)="checkMinMax(id);" [(ngModel)]="lis.devolucion" #factura="ngModel" type="number"></td>
                   <td>{{lis.venta}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row form-group">
        <div class="col-md-3 col-xs-3">

            <a type="submit" class="btn btn-success col-md-12" style="margin: 1px" (click)="Guardar()">Guardar</a>
        </div>
        <div class="col-md-3 col-xs-3">
            <a type="submit" class="btn btn-danger col-md-12" style="margin: 1px" (click)="CancelEdit()">Cancelar</a>
        </div>
    </div>
</div>