<div class="principal">
    <h3>{{title}}</h3>
    <div class="row">
        <mat-form-field class="col-md-10 col-xs-12">
            <input matInput [(ngModel)]="busqueda.socio" placeholder="buscar">
        </mat-form-field>
        <div class="col-xs-12 col-md-2">
            <button class="botonbuscar col-md-12" mat-flat-button (click)="CancelEdit()">REGRESAR</button>
        </div>
    </div>
    <div class="reporte">
        <table class="table table-striped table-hover">
            <thead class="tablareporte">
                <tr>
                    <th>Folio Salida</th>
                    <th>Nombre</th>
                    <th>Fecha Salida</th>
                    <th>Importe</th>
                    <th class="cen">Entrega</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let lis of pedidos | filter: busqueda.socio;">
                    <td>{{lis.id}}</td>
                    <td>{{lis.nombre}}</td>
                    <td>{{lis.fechapedido}}</td>
                    <td>{{lis.importe}}</td>
                    <td class="cen"><a [routerLink]="['../edit',lis.id]">
                            <i class="fas fa-edit botontaba"></i>
                        </a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>