<div class="principal">
    <h3>{{title}}</h3>
    <div class="row">
        <mat-form-field class="col-md-10 col-xs-12">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="buscar">
        </mat-form-field>
        <div class="col-xs-12 col-md-2">
            <button class="ventas col-md-12" color="primary" mat-flat-button (click)="CancelEdit()">REGRESAR</button>
        </div>
    </div>
    <!--Comienza la tabla-->
    <div class="row">
        <table class="col-md-12 col-xs-12 mat-elevation-z8" mat-table [dataSource]="pedidos" mat-Sort>
            <ng-container matColumnDef="id">
                <th class="thm" mat-header-cell *matHeaderCellDef mat-sort-header> Folio Salida </th>
                <td mat-cell *matCellDef="let row"> {{row.id}} </td>
            </ng-container>
            <ng-container matColumnDef="nombre">
                <th class="thm" mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
            </ng-container>
            <ng-container matColumnDef="fechapedido">
                <th class="thm" mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Salida </th>
                <td mat-cell *matCellDef="let row"> {{row.fechapedido}} </td>
            </ng-container>
            <ng-container matColumnDef="importe">
                <th class="thm" mat-header-cell *matHeaderCellDef mat-sort-header> importe </th>
                <td mat-cell *matCellDef="let row"> {{row.importe}} </td>
            </ng-container>
            <ng-container matColumnDef="editar">
                <th class="thm" mat-header-cell *matHeaderCellDef mat-sort-header> Entrega </th>
                <td mat-cell *matCellDef="let row">
                    <a mat-icon-button color="primary" [routerLink]="['../edit',row.id]">
                        <mat-icon>edit</mat-icon>
                    </a>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </table>
    </div>
    <div class="row">
        <mat-paginator [pageSizeOptions]="[10, 25]"></mat-paginator>
    </div>
</div>