<h3>{{title}}</h3>
<br>
<div class="container-fluid
            d-flex
            h-25
            flex-column
            justify-content-center
            ">
    <div class="p-1
                p-sm-1
                flex-grow-1
                flex-shrink-1">
        <button mat-button
                [routerLink]="['../list']"
                class="btn
                       btn-block
                       btn-secondary
                       h-75
                    ">
            <mat-icon>add_shopping_cart</mat-icon> Existencias
        </button>
    </div>
</div>
<div class="container-fluid
            h-25
            d-flex
            flex-column
            flex-sm-row
            justify-content-center"
            >
    <div class="p-1
                p-sm-2
                flex-grow-1
                flex-shrink-1">
        <button mat-button
                [routerLink]="['../equinueva']"
                class="btn
                       btn-block
                       btn-success
                       h-75
                    ">
            <mat-icon>add_shopping_cart</mat-icon> Nueva Compra
        </button>
    </div>
    <div class="p-1
                p-sm-2
                flex-grow-1
                flex-shrink-1">
        <button  mat-button
                 [routerLink]="['../requisicions']"
                 matBadge="{{nalma}}"
                 matBadgePosition="after"
                 matBadgeColor="accent"
                 class="btn
                        btn-block
                        btn-info
                        h-75
                        ">
            <mat-icon>receipt</mat-icon> Recepciones
        </button>
    </div>
</div>
<div class="container-fluid
            h-25
            d-flex
            flex-column
            flex-sm-row
            justify-content-center"
            >
    <div class="p-1
                p-sm-2
                flex-grow-1
                flex-shrink-1
                ">
        <button mat-button
                [routerLink]="['../equinueva/1']"
                class="btn
                       btn-block
                       btn-success
                       h-75
                       ">
            <mat-icon>add_shopping_cart</mat-icon> Nuevo Envio
        </button>
    </div>
    <div class="p-1
                p-sm-2
                flex-grow-1
                flex-shrink-1">
        <button  mat-button
                 [routerLink]="['../diario']"
                 class="btn
                        btn-block
                        btn-info
                        h-75
                        ">
            <mat-icon>receipt</mat-icon> Diario
        </button>
    </div>
</div>