<div class="menu-container" *ngIf="identity" [class.is-mobile]="mobileQuery.matches">
  <!--==========================================
             Menu Superior
        ============================================-->
  <nav class="navbar">
    <img style="width:8vh;" src="../../assets/favicon.ico" [routerLink]="['inicio']">
    <span class="navbar">
      <button (click)="snav.toggle()" style="background: none; border: none; color: black;margin-right: .5vh;">
        <span><i class="fas fa-user" style="font-size: 2.6vh"></i></span>
        <span style="text-transform:uppercase;font-size: 3.3vh;font-family: Merriweather;"> {{identity.name}} </span>
      </button>
      <button [routerLink]="['logout/1']" style="background: none; border: none; color: black;">
        <span><i class="fas fa-sign-out-alt" style="font-size:3.0vh"></i></span>
        <span style="font-size: 3.5vh;font-family: Merriweather;"> Salir </span>
      </button>
    </span>

  </nav>
  <!--=================================================
          Deseño del toggle tanto fijo como para celulares 
      ===================================================-->
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="identity ?
        mobileQuery.matches ? 'false' : 'true'
      :'false'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="60">
      <!--==================================================
            Aqui comeienza el diseño del sildevar
      ===================================================-->
      <div class="container-fluid" style="padding-top:1rem;">
        <h4 style="font-size: 2.2vh;">Bienvenido {{identity.name}} </h4>
      </div>
      <!--===================================================
               Botonera de acciones
         ====================================================-->
      <div>
        <mat-nav-list>
          <mat-list-item [routerLink]="['personal']">
            <span>
              <span style="font-size: 2.8vh;"> <i class="fas fa-user-friends"></i> </span>
              <span style="font-size: 2.8vh; padding-left: 2vh;"> Mi Equipo</span>
            </span>
          </mat-list-item>
          <!--==================================================
                divisor para el almacen
          ===================================================-->
          <mat-divider></mat-divider>
        </mat-nav-list>
        <mat-accordion>
          <!--======================================================
                Acordeon de Catalogos
          =========================================================-->
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <span>
                <span style="font-size: 2.3vh;"> <i class="fa fa-th-list"> </i></span>
                <span style="font-size: 2.3vh;padding-left:2vh;"> Catalogos</span>
              </span>
            </mat-expansion-panel-header>
            <mat-nav-list>
              <mat-list-item [routerLink]="['articulos']" style="height: 5vh; margin-top: -2vh;">
                <span>
                  <span style="font-size: 1.8vh;"> <i class="fas fa-bicycle"></i></span>
                  <span style="font-size: 1.8vh;padding-left: .5vh;"> Articulo</span>
                </span>
              </mat-list-item>
              <mat-list-item [routerLink]="['bancos']" style="height: 5vh">
                <span>
                  <span style="font-size: 1.8vh;"> <i class="fas fa-money-check-alt"></i></span>
                  <span style="font-size: 1.8vh;padding-left: .5vh;"> Bancos</span>
                </span>
              </mat-list-item>
              <mat-list-item [routerLink]="['oficinas']" style="height: 5vh">
                <span>
                  <span style="font-size: 1.8vh;"> <i class="fas fa-city"></i></span>
                  <span style="font-size: 1.8vh;padding-left: .5vh;"> Oficinas</span>
                </span>
              </mat-list-item>
              <mat-list-item [routerLink]="['puestos']" style="height: 5vh">
                <span>
                  <span style="font-size: 1.8vh;"> <i class="fas fa-users"></i></span>
                  <span style="font-size: 1.8vh;padding-left: .5vh;"> Organizacion</span>
                </span>
              </mat-list-item>
              <mat-list-item [routerLink]="['premios']" style="height: 5vh">
                <span>
                  <span style="font-size: 1.8vh;"> <i class="fas fa-gift"></i></span>
                  <span style="font-size: 1.8vh;padding-left: .5vh;"> Premios</span>
                </span>
              </mat-list-item>
              <mat-list-item [routerLink]="['proveedores']" style="height: 5vh">
                <span>
                  <span style="font-size: 1.8vh;"> <i class="fas fa-handshake"></i></span>
                  <span style="font-size: 1.8vh;padding-left: .5vh;"> proveedor</span>
                </span>
              </mat-list-item>
            </mat-nav-list>
          </mat-expansion-panel>
          <!--=======================================================
                Acordeon de almacen
             =========================================================-->
          <mat-expansion-panel>
            <!--======================================================
                boton desplegable
            ========================================================-->
            <mat-expansion-panel-header>
              <span>
                <span style="font-size: 2.3vh;"> <i class="fas fa-building"></i></span>
                <span style="font-size: 2.3vh; padding-left: 2vh;"> Oficina</span>
              </span>
            </mat-expansion-panel-header>
            <!--=====================================================
              contenido del boton
            =======================================================-->
            <mat-nav-list style="margin-top: -2vh;">
              <mat-list-item [routerLink]="['almacen']">
                <span>
                  <span style="font-size: 1.8vh;"> <i class="fas fa-store"></i></span>
                  <span style="font-size: 1.8vh;padding-left: .5rem;"> Almacen</span>
                </span>
              </mat-list-item>
              <mat-list-item [routerLink]="['almacen/cx','c']">
                <span>
                  <span style="font-size: 1.8vh;"> <i class="fas fa-money-check-alt"></i></span>
                  <span style="font-size: 1.8vh;padding-left: .5rem;">Cobranza</span>
                </span>
              </mat-list-item>
              <mat-list-item [routerLink]="['almacen/cx','p']">
                <span>
                  <span style="font-size: 1.8vh;"> <i class="fas fa-shopping-basket"></i></span>
                  <span style="font-size: 1.8vh;padding-left: .5rem;">Pagos</span>
                </span>
              </mat-list-item>
              <mat-list-item [routerLink]="['almacen/pp']">
                <span>
                  <span style="font-size: 1.8vh;"><i class="fas fa-file-invoice-dollar"></i></span>
                  <span style="font-size: 1.8vh;padding-left: .5rem;">Servicios</span>
                </span>
              </mat-list-item>
              <mat-list-item [routerLink]="['almacen/res']">
                <span>
                  <span style="font-size: 1.8vh;"><i class="fas fa-balance-scale"></i></span>
                  <span style="font-size: 1.8vh;padding-left: .5rem;">Rsultados</span>
                </span>
              </mat-list-item>
            </mat-nav-list>
          </mat-expansion-panel>
          <!--=============================================
			       	boton Ventas
		    	============================================== -->
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <span>
                <span style="font-size: 2.3vh;"> <i class="fas fa-cart-arrow-down"> </i> </span>
                <span style="font-size: 2.3vh; padding-left: 2vh;"> Venta</span>
              </span>
            </mat-expansion-panel-header>
            <!--=============================================
			         	inicio de la lista de ventas
			      ============================================== -->
            <mat-nav-list style="margin-top: -2vh;">
              <mat-list-item [routerLink]="['ventas']">
                <span>
                  <span style="font-size: 1.8vh;"> <i class="fas fa-clipboard-list"></i></span>
                  <span style="font-size: 2vh;padding-left: .5rem;"> Hoja de Pedido</span>
                </span>
              </mat-list-item>
              <mat-list-item [routerLink]="['ventas/over']">
                <span>
                  <span style="font-size: 1.8vh;"><i class="fas fa-chart-line"></i></span>
                  <span style="font-size: 2vh;padding-left: .5rem;"> Overs</span>
                </span>
              </mat-list-item>
            </mat-nav-list>
          </mat-expansion-panel>

          <!--=============================================
			          boton de cambaceo
          ============================================== -->

          <mat-nav-list>
            <mat-list-item [routerLink]="['ventas/listaventa']">
              <span>
                <span style="font-size: 2.3vh;"> <i class="fas fa-user-tie"></i> </span>
                <span style="font-size: 2.3vh; padding-left: 2vh;">Socio Comercial</span>
              </span>
            </mat-list-item>
          </mat-nav-list>


          <!--=============================================
			          AHORRO
          ============================================== -->

          <mat-nav-list>
            <mat-list-item [routerLink]="['ventas/default']">
              <span>
                <span style="font-size: 2.3vh;"> <i class="fas fa-user-tie"></i> </span>
                <span style="font-size: 2.3vh; padding-left: 2vh;">Ahorro</span>
              </span>
            </mat-list-item>
          </mat-nav-list>


          <!--=============================================
				        REPORTES
			    ============================================== -->
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <span>
                <span style="font-size: 2.3vh;"> <i class="far fa-list-alt"></i> </span>
                <span style="font-size: 2.3vh; padding-left: 2vh;"> Reportes</span>
              </span>
            </mat-expansion-panel-header>
            <!--=============================================
    
            ============================================== -->
            <mat-nav-list style="margin-top: -2vh;">
              <mat-list-item [routerLink]="['ventas/reporte']">
                <span>
                  <span style="font-size: 1.8vh;"> <i class="fas fa-clipboard-list"></i></span>
                  <span style="font-size: 1.8vh;padding-left: .5rem;"> Socio Comercial</span>
                </span>
              </mat-list-item>
            </mat-nav-list>
          </mat-expansion-panel>

          <!--=============================================
				      final de mi lista principal
			    ==============================================-->
        </mat-accordion>
      </div>
    </mat-sidenav>
    <!--====================================================
              Contendio general de la aplicacion
         ====================================================-->
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<div class="menu-container" *ngIf="!identity">
  <login></login>
</div>