<!--The content below is only a placeholder and can be replaced.-->
<header>
  <!--Menu de navegacion inicial -->

    <nav class="nav-wrapper" *ngIf="token">
        <ul id="dropdown1" class="dropdown-content">
            <li> <a [routerLink]="['articulos']"> Articulos</a></li>
            <li> <a [routerLink]="['oficinas']"> Oficinas</a></li>
            <li> <a [routerLink]="['personal']">Empleados</a></li>
            <li> <a [routerLink]="['puestos']">Organizacion</a></li>
         </ul>
       <!--barra superior-->
              <div class="nav-wrapper">
                  <a href="#!" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                  <ul class="left hide-on-med-and-down">
                      <li><a class="">DOOY</a></li>
                      <li [routerLinkActive]="['active']"><a [routerLink]="['inicio']">
                            <span class="glyphicon glyphicon-home"></span>
                            Inicio</a>
                      </li>
                  <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Catalogo<i class="material-icons right">arrow_drop_down</i></a></li>
                  </ul>
                  <ul class="right hide-on-med-and-down" *ngIf="identity">
                      <li>
                        <a>
                          <span class="glyphicon glyphicon-user"></span>
                          {{identity.name}}
                        </a>
                      </li>
                      <li>
                         <a href="">Registro</a>     
                      </li>
                      <li>
                          <a [routerLink]="['logout/1']">
                            <span class="glyphicon glyphicon-log-out"></span>
                            Salir
                          </a>
                      </li>
                  </ul>
              </div>
        
      
      <!--barra mobil-->
        <ul id="dropdown2" class="dropdown-content">
          <li> <a [routerLink]="['articulos']"> Articulos</a></li>
          <li> <a [routerLink]="['oficinas']"> Oficinas</a></li>
          <li> <a [routerLink]="['personal']">Empleados</a></li>
          <li> <a [routerLink]="['puestos']">Organizacion</a></li>
       </ul>
       <ul class="sidenav" id="mobile-demo">
          <li [routerLinkActive]="['active']"><a [routerLink]="['inicio']">
              <span class="glyphicon glyphicon-home"></span>
              Inicio</a>
        </li>
            <li><a class="dropdown-trigger" href="#!" data-target="dropdown2">Catalogo</a></li>
      </ul> 
    </nav> 
</header>

<div >
    <router-outlet></router-outlet>
</div>
