<div class="menu-container" *ngIf="identity" [class.is-mobile]="mobileQuery.matches">
  <!--==========================================
             Menu Superior
        ============================================-->
        <nav class="navbar">
            <img style="width:65px;" src="../../assets/favicon.ico" [routerLink]="['inicio']">
            <span class="navbar">
                <button (click)="snav.toggle()" style="font-size: 1.0em; background: none; border: none; color: black;">
                    <span>
                      <span><i class="fas fa-user" style="size: 1.3em"></i></span>
                      <span style="text-transform:uppercase;font-size: 1.3em"> {{identity.name}} </span>
                    </span>
                  </button>
                  <button [routerLink]="['logout/1']" style="font-size: 1.0em; background: none; border: none; color: black;">
                    <span>
                      <span><i class="fas fa-sign-out-alt" style="size: 1.4em"></i></span>
                      <span style="font-size: 1.3em"> Salir </span>
                    </span>
                  </button>
            </span>
          </nav>
  <!--=================================================
          Deseño del toggle tanto fijo como para celulares 
      ===================================================-->
  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="identity ?
        mobileQuery.matches ? 'false' : 'true'
      :'false'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <!--==================================================
            Aqui comeienza el diseño del sildevar
      ===================================================-->
      <div class="container-fluid" style="padding-top:1rem;">
        <h4>Bienvenido {{identity.name}} </h4>
      </div>
      <!--===================================================
               Botonera de acciones
         ====================================================-->
      <div>
        <mat-nav-list>
          <mat-list-item [routerLink]="['personal']">
            <span>
              <span style="font-size: 1.3rem;"> <i class="fas fa-user-friends"></i> </span>
              <span style="font-size: 1.2rem; padding-left: 1.3rem;"> Mi Equipo</span>
            </span>
          </mat-list-item>
          <!--==================================================
                divisor para el almacen
          ===================================================-->
          <mat-divider></mat-divider>
        </mat-nav-list>
        <mat-accordion>
          <!--======================================================
                Acordeon de Catalogos
          =========================================================-->
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <span>
                <span style="font-size: 1.3rem;"> <i class="fa fa-th-list"> </i></span>
                <span style="font-size: 1.1rem;padding-left: 1.3rem;"> Catalogos</span>
              </span>
            </mat-expansion-panel-header>
            <mat-nav-list>
              <mat-list-item [routerLink]="['articulos']">
                <span>
                  <span style="font-size: 1.2rem;"> <i class="fas fa-bicycle"></i></span>
                  <span style="font-size: 1rem;padding-left: .5rem;"> Articulo</span>
                </span>
              </mat-list-item>
              <mat-list-item [routerLink]="['bancos']">
                <span>
                  <span style="font-size: 1.2rem;"> <i class="fas fa-money-check-alt"></i></span>
                  <span style="font-size: 1rem;padding-left: .5rem;"> Bancos</span>
                </span>
              </mat-list-item>
              <mat-list-item [routerLink]="['oficinas']">
                <span>
                  <span style="font-size: 1.2rem;"> <i class="fas fa-city"></i></span>
                  <span style="font-size: 1rem;padding-left: .5rem;"> Oficinas</span>
                </span>
              </mat-list-item>
              <mat-list-item [routerLink]="['puestos']">
                <span>
                  <span style="font-size: 1.2rem;"> <i class="fas fa-users"></i></span>
                  <span style="font-size: 1rem;padding-left: .5rem;"> Organizacion</span>
                </span>
              </mat-list-item>
              <mat-list-item [routerLink]="['premios']">
                <span>
                  <span style="font-size: 1.2rem;"> <i class="fas fa-gift"></i></span>
                  <span style="font-size: 1rem;padding-left: .5rem;"> Premios</span>
                </span>
              </mat-list-item>
              <mat-list-item [routerLink]="['proveedores']">
                <span>
                  <span style="font-size: 1.2rem;"> <i class="fas fa-handshake"></i></span>
                  <span style="font-size: 1rem;padding-left: .5rem;"> proveedor</span>
                </span>
              </mat-list-item>
            </mat-nav-list>
          </mat-expansion-panel>
          <!--=======================================================
                Acordeon de almacen
             =========================================================-->
          <mat-expansion-panel>
            <!--======================================================
                boton desplegable
            ========================================================-->
            <mat-expansion-panel-header>
              <span>
                <span style="font-size: 1.3rem;"> <i class="fas fa-store"> </i></span>
                <span style="font-size: 1.1rem; padding-left: 1.3rem;"> Almacen</span>
              </span>
            </mat-expansion-panel-header>
            <!--=====================================================
              contenido del boton
            =======================================================-->
            <mat-nav-list>
              <mat-list-item [routerLink]="['almacen']">
                <span>
                  <span style="font-size: 1.2rem;"> <i class="fas fa-store-alt"></i></span>
                  <span style="font-size: 1rem;padding-left: .5rem;"> Existencia</span>
                </span>
              </mat-list-item>
            </mat-nav-list>
          </mat-expansion-panel>
          <!--=============================================
			       	boton Ventas
		    	============================================== -->
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <span>
                <span style="font-size: 1.3rem;"> <i class="fas fa-cart-arrow-down"> </i> </span>
                <span style="font-size: 1.1rem; padding-left: 1.3rem;"> Venta</span>
              </span>
            </mat-expansion-panel-header>
            <!--=============================================
			         	inicio de la lista de ventas
			      ============================================== -->
            <mat-nav-list>
              <mat-list-item [routerLink]="['ventas']">
                <span>
                  <span style="font-size: 1.2rem;"> <i class="fas fa-clipboard-list"></i></span>
                  <span style="font-size: 1rem;padding-left: .5rem;"> Hoja de Pedido</span>
                </span>
              </mat-list-item>
            </mat-nav-list>
          </mat-expansion-panel>

          <!--=============================================
			          boton de cambaceo
			    ============================================== -->
          <mat-nav-list>
            <mat-list-item [routerLink]="['ventas/listaventa']">
              <span>
                <span style="font-size: 1.3rem;"> <i class="fas fa-user-tie"></i> </span>
                <span style="font-size: 1.2rem; padding-left: 1.3rem;">Socio Comercial</span>
              </span>
            </mat-list-item>
            <!--===========================================
              divisor para el almacen
            =============================================-->
            <mat-divider></mat-divider>
          </mat-nav-list>
          <!--=============================================
				        REPORTES
			    ============================================== -->
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <span>
                <span style="font-size: 1.3rem;"> <i class="far fa-list-alt"></i> </span>
                <span style="font-size: 1.1rem; padding-left: 1.3rem;"> Reportes</span>
              </span>
            </mat-expansion-panel-header>
            <!--=============================================
    
            ============================================== -->
            <mat-nav-list>
              <mat-list-item [routerLink]="['ventas/reporte']">
                <span>
                  <span style="font-size: 1.2rem;"> <i class="fas fa-clipboard-list"></i></span>
                  <span style="font-size: 1rem;padding-left: .5rem;"> Socio Comercial</span>
                </span>
              </mat-list-item>
            </mat-nav-list>
          </mat-expansion-panel>

          <!--=============================================
				      final de mi lista principal
			    ==============================================-->
        </mat-accordion>
      </div>
    </mat-sidenav>
    <!--====================================================
              Contendio general de la aplicacion
         ====================================================-->
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<div class="menu-container" *ngIf="!identity">
  <login></login>
</div>