<h4>{{title}}</h4>
<div class="loader" *ngIf="puestos == null"></div>

<div class=" panel panel-default" *ngIf="puestos != null">
    <table class="table table-hover table-striped table-bordered table-condensed" id="tbpuestos">
        <thead>
            <tr>
                <th>Puesto</th>
                <th>Nivel</th>
                <th>Descripcion</th>
                <th>
                    <a class="btn btn-success btn-sm" [routerLink]="['../nuevo']"><span class="glyphicon glyphicon-plus"></span>Nuevo</a>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let puesto of puestos">
                <td>{{puesto.puesto}}</td>
                <td>{{puesto.nivel}}</td>
                <td>{{puesto.descripcion}}</td>
                <td>
                        <a class="btn btn-warning btn-sm" [routerLink]="['../edit',puesto.id]" style="margin: 1px"><span class="glyphicon glyphicon-edit"></span></a>
                        <a class="btn btn-danger btn-sm" (click)="deltetePuesto(puesto.id)" style="margin: 1px" ><span class="glyphicon glyphicon-trash"></span></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
