<div class="panel panel-default principal"  *ngIf="puestos != null">
        <div class="panel-heading">
            <div class="row">
                <h3 class="panel-title col-md-10 col-xs-10">{{title}}</h3>
                <a class="btn btn-success btn-xs pull-right col-md-1 col-xs-1"  [routerLink]="['../nuevo']"
                style="margin-right: 5px"><span class="glyphicon glyphicon-plus"></span></a>
            </div>
        </div>
        <table class="table table-striped">
           <thead class ="titabla">
              <tr>
              <th>Puesto</th>
              <th>Descripcion</th>
              <th>Editar</th>
              <th>Eliminar</th>
              </tr>
           </thead>
         <tbody>
           <tr *ngFor="let puesto of puestos">
              <td class="col-md-4">
                 <h5>{{puesto.puesto}}</h5>
              </td>
              <td class="col-md-6">
                <h5>{{puesto.descripcion}}</h5>
              </td>
           <td class="col-md-1">
               <a class="btn-lg botabl" [routerLink]="['../edit',puesto.id]" >
               <span class="glyphicon glyphicon-pencil"></span>
               </a>
          </td>
            <td class="col-md-1">
               <a class="btn-lg botabl"(click)="deltetePuesto(puesto.id)">
                <span class="glyphicon glyphicon-trash" ></span>
               </a>
            </td>
           </tr>
        </tbody>
      </table>
    </div>