<div class=" principal" *ngIf="puestos != null">
      <h3>{{title}}</h3>

      <div class="row">
            <mat-form-field class="col-md-10 col-xs-12">
                  <input matInput [(ngModel)]="busqueda.socio" placeholder="buscar">
            </mat-form-field>
            <div class="col-xs-12 col-md-2">
                  <button class="ventas col-md-12" color="primary" mat-flat-button
                        [routerLink]="['../nuevo']">NUEVO</button>
            </div>
      </div>
      <div class="reporte">
            <table class="table table-striped table-hover">
                  <thead class="tablareporte">
                        <tr>
                              <th>Puesto</th>
                              <th>Descripcion</th>
                              <th class="cen">Editar</th>
                              <th class="cen">Eliminar</th>
                        </tr>
                  </thead>
                  <tbody>
                        <tr class="puesto" *ngFor="let lis of puestos | filter: busqueda.socio; let id = index">
                              <td>{{lis.puesto}}</td>
                              <td>{{lis.descripcion}}</td>
                              <td class="cen"> <a [routerLink]="['../edit',lis.id]">
                                          <i class="fas fa-edit botontaba"></i>
                                    </a> </td>
                              <td class="cen"><button class="botontaba" (click)="deltetePuesto(lis.id)">
                                          <span>
                                                <i class="fas fa-trash-alt"></i>
                                          </span>
                                    </button></td>
                        </tr>
                  </tbody>
            </table>
      </div>
</div>