<div class="principal">
    <form *ngIf="puestoe != null" #puestoNew="ngForm" (ngSubmit)="onSubmit(puestoNew)">
        <div class="container">
            <fieldset>
                <legend>{{title}}</legend>
                <div class="row form-group">
                    <mat-form-field class="col-md-6">
                        <input type="text" matInput name="puesto" #puesto="ngModel" [(ngModel)]="puestoe.puesto"
                            placeholder="Puesto" required>
                    </mat-form-field>
                </div>
                <div class="row form-group">
                    <mat-form-field class="col-md-6">
                        <mat-select name="nivel" #nivel="ngModel" [(ngModel)]="puestoe.nivel" placeholder="Nivel"
                            required>
                            <mat-option value="1">1</mat-option>
                            <mat-option value="2">2</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="row form-group">
                    <mat-form-field class="col-md-6">
                        <textarea type="text" matInput name="descripcion" #descripcion="ngModel"
                            [(ngModel)]="puestoe.descripcion" placeholder="Descripcion" required></textarea>
                    </mat-form-field>
                </div>
            </fieldset>
            <div class="row form-group">
                <div class="col-md-3">
                    <input type="submit" value="Guardar" class="btn btn-success col-md-12"
                        [disabled]="!puestoNew.form.valid">
                </div>
                <div class="col-md-3">
                    <a type="submit" class="btn btn-danger col-md-12" style="margin: 1px"
                        (click)="cancelEdit()">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
</div>