<h2>{{title}}</h2>
<div class="alert alert-danger" *ngIf="status_oficina == 'success' && status_oficina"> Registro Guardado correctamente </div>
<form *ngIf="ofi != null" #oficinaNew="ngForm" (ngSubmit)="onSubmit(oficinaNew)" class="col-md-5">
    <div class="form-group">
        <p>
            <label for="oficina">Oficina</label>
            <input type="text" name="oficina" #nombre="ngModel" [(ngModel)]="ofi.nombre" class="form-control" required>
            <span *ngIf="!nombre.valid && nombre.touched" class="alert-danger">Campo obligatorio</span>
        </p>
        <p>
            <label for="encargado">Encargado</label>
            <input type="text" name="encargadoofi" #encargado="ngModel" [(ngModel)]="ofi.encargado" class="form-control" required>
            <span *ngIf="!encargado.valid && encargado.touched" class="alert-danger">Campo obligatorio</span>
        </p>
         <p>
       <label for="descripcion">Descripcion</label>
          <textarea name="descripcionofi" #descripcion="ngModel"[(ngModel)]="ofi.descripcion"class="form-control" required ></textarea>
          <span *ngIf="!descripcion.valid && descripcion.touched" class="alert-danger">Campo obligatorio</span>
        </p>
            <p>
                <label for="calle">Calle</label>
                <input type="text" name="calleofi" #calle="ngModel" [(ngModel)]="ofi.calle" class="form-control" required>
                <span *ngIf="!calle.valid && calle.touched" class="alert-danger">Campo obligatorio</span>
            </p>
            
                 <p>
                    <label for="noint">No Interior</label>
                    <input type="text" name="nointofi" #noint="ngModel" [(ngModel)]="ofi.noint" class="form-control" required>
                    <span *ngIf="!noint.valid && noint.touched" class="alert-danger">Campo obligatorio</span>
                </p>
                <p>
                        <label for="noext">No Exterior</label>
                        <input type="text" name="noextofi" #noext="ngModel" [(ngModel)]="ofi.noext" class="form-control" required>
                        <span *ngIf="!noext.valid && noext.touched" class="alert-danger">Campo obligatorio</span>
                    </p>
                    <p>
                            <label for="colonia">colonia</label>
                            <input type="text" name="coloniaofi" #colonia="ngModel" [(ngModel)]="ofi.colonia" class="form-control" required>
                            <span *ngIf="!colonia.valid && colonia.touched" class="alert-danger">Campo obligatorio</span>
                        </p>
                           <p>
                                <label for="estado">Estado</label>
                                <input type="text" name="estadoofi" #estado="ngModel" [(ngModel)]="ofi.estado" class="form-control" required>
                                <span *ngIf="!estado.valid && estado.touched" class="alert-danger">Campo obligatorio</span>
                            </p>
                            <p>
                                    <label for="ciudad">Ciudad</label>
                                    <input type="text" name="ciudadofi" #ciudad="ngModel" [(ngModel)]="ofi.ciudad" class="form-control" required>
                                    <span *ngIf="!ciudad.valid && ciudad.touched" class="alert-danger">Campo obligatorio</span>
                                </p>  

     <input type="submit" value="Guardar" class="btn btn-success" [disabled]="!oficinaNew.form.valid">
    </div>
</form>
