<div class="panel panel-default principal" *ngIf="oficinas != null">
        <div class="panel-heading">
            <div class="row">
                <h3 class="panel-title col-md-10 col-xs-10">{{title}}</h3>
                <a class="btn btn-success btn-xs pull-right col-md-1 col-xs-1"  [routerLink]="['../nuevo']" style="margin-right: 5px"><span class="glyphicon glyphicon-plus"></span></a>
            </div>
        </div>

        <table class="table table-striped">
            <thead class="titabla">
                    <tr>
                        <th>Oficina</th>
                        <th>Encargado</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
            </thead>
            <tbody>
                <tr *ngFor="let oficina of oficinas"> 
                    <td class="col-md-4">
                        <h5>{{oficina.nombre}}</h5>
                    </td>
                    <td class="col-md-6">
                        <h5>{{oficina.encargado}}</h5>
                    </td>
                    <td class="col-md-1">
                            <a class="btn-lg botabl" [routerLink]="['../edit',oficina.id]" >
                            <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                    </td>
                    <td class="col-md-1">
                            <a class="btn-lg botabl"(click)="delteteOficina(oficina.id)">
                            <span class="glyphicon glyphicon-trash" ></span>
                            </a>
                    </td>
                </tr>
            </tbody>
        </table>
</div>
