<!--================================================================================================
     MODULO PARA VISUALIZAR EN MODO LISTA TODAS LAS CAJAS DE FONDO DE AHORRO QUE ESTAN CREADAS EN EL SISTEMA
 ===================================================================================================-->
<div class="principal">
    <div style="text-align: center;padding-top: 1%">
        <h3>{{title}}</h3>
    </div>
    <fieldset>
        <mat-form-field class="col-md-3 col-xs-12">
            <mat-select matInput [(ngModel)]="busqueda.socio" placeholder="Socio Comercial" #socio="ngModel">
                <mat-option>none</mat-option>
                <mat-option *ngFor="let pedi of perso" [value]="pedi.id">{{pedi.nombre}}</mat-option>
            </mat-select>
        </mat-form-field>
        <button type="submit" class=" col-md-3 col-xs-12  botonbuscar " (click)="listaa()">Buscar</button>
    </fieldset>
    <br>
    <div class="reporte">
        <table class="table table-striped">
            <thead class="tablareporte">
                <tr>
                    <th>Nombre</th>
                    <th>Fecha De Dia</th>
                    <th>Monto venta</th>
                    <th style="text-align: center">Ahorro</th>
                </tr>
            </thead>
            <tbody>
                <tr class="rahorro" *ngFor="let lis of listaahorro;let i = index">
                    <td>{{ lis.nombre }}</td>
                    <td>{{ lis.fechadia }}</td>
                    <td>{{ lis.montoventa | currency }}</td>
                    <td style="text-align: center">{{ lis.ahorrodia | currency }}</td>
                </tr>
                <tr *ngIf="listaahorro">
                    <td>
                        <h4>Ahorro Disponible: {{pe | currency }}</h4>
                    </td>
                    <td colspan="2">
                        <form class="form-inline">
                            <div class="form-group">
                                <label>Monto Pagar:</label>
                                <input type="text"  name="axrname" [(ngModel)]="busqueda.inicio"
                                    class="form-control mx-sm-5" placeholder="$">
                            </div>
                        </form>
                    </td>
                    <td>
                        <button class="btn btn-secondary  btn-lg btn-block" type="submit" (click)="pagar()">Pagar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>