<!--================================================================================================
     MODULO PARA VISUALIZAR EN MODO LISTA TODAS LAS CAJAS DE FONDO DE AHORRO QUE ESTAN CREADAS EN EL SISTEMA
 ===================================================================================================-->
<div class="principal">
    <div style="text-align: center;padding-top: 1%">
        <h3>{{title}}</h3>
    </div>
    <fieldset>
        <mat-form-field class="col-md-3 col-xs-12">
            <input matInput [matDatepicker]="picker1" placeholder="Fecha Inicio" #inicio="ngModel"
                [(ngModel)]="busqueda.inicio">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="col-md-3 col-xs-12">
            <input matInput [matDatepicker]="picker2" placeholder="Fecha Final" #final="ngModel"
                [(ngModel)]="busqueda.final">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="col-md-3 col-xs-12">
            <mat-select matInput [(ngModel)]="busqueda.socio" placeholder="Status" #socio="ngModel">
                <mat-option>None</mat-option>
                <mat-option value="SIN PAGAR">SIN PAGAR</mat-option>
                <mat-option value="PAGADO">PAGADO</mat-option>
            </mat-select>
        </mat-form-field>
        <button type="submit" class=" col-md-3 col-xs-12  botonbuscar " (click)="listaa()">Buscar</button>
    </fieldset>
    <br>
    <div class="reporte">
        <table class="table table-striped">
            <thead class="tablareporte">
                <tr>
                    <th>Nombre</th>
                    <th>Fecha De Pago</th>
                    <th>Limite De Ahorro</th>
                    <th>Status</th>
                    <th>Monto Pagado</th>
                    <th>Desglose</th>
                </tr>
            </thead>
            <tbody>
                <tr class="rahorro" *ngFor="let lis of listaahorro;let i = index">
                    <td>{{ lis.nombre }}</td>
                    <td>{{ lis.fechapago }}</td>
                    <td>{{ lis.limiteahorro }}</td>
                    <td>{{ lis.status }}</td>                 
                    <td>{{ lis.montopagado }}</td>    
                    <td> <button type="submit" (click)="ingresaahorro(i)">seleccionar</button></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>