<div class="principal">
    <div style="text-align: center;padding-top: 1%">
        <h3>{{title}}</h3>
    </div>
    <fieldset>
        <mat-form-field class="col-md-3 col-xs-12">
            <input matInput [matDatepicker]="picker" placeholder="Fecha Inicio" #inicio="ngModel"
                [(ngModel)]="busqueda.inicio">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="col-md-3 col-xs-12">
            <input matInput [matDatepicker]="picker2" placeholder="Fecha Final" #final="ngModel"
                [(ngModel)]="busqueda.final">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="col-md-3 col-xs-12">
            <mat-select matInput [(ngModel)]="busqueda.socio" placeholder="Socio" #socio="ngModel">
                <mat-option>none</mat-option>
                <mat-option *ngFor="let  pedi of perso" [value]="pedi.id">{{pedi.nombre}}</mat-option>
            </mat-select>
        </mat-form-field>
        <button type="submit" class=" col-md-3 col-xs-12  botonbuscar " (click)="listaahorro()">Buscar</button>
    </fieldset>
    <br>
    <div class="reporte">
        <table class="table table-striped">
            <thead class="tablareporte">
                <tr>
                    <th>Nombre</th>
                    <th>Fecha</th>
                    <th>Dia</th>
                    <th>Importe</th>
                    <th>Ahorro</th>
                    <th style="text-align: center">Seleccion</th>
                </tr>
            </thead>
            <tbody>
                <tr class="rahorro" *ngFor="let lis of lisahorro;let i = index">
                    <td>{{ lis.nombre }}</td>
                    <td>{{ lis.fechapedido }}</td>
                    <td>{{ lis.dia }}</td>
                    <td>{{ lis.importe | currency }}</td>
                    <td>{{ lis.ahorro | currency}}</td>
                    <td> 
                    <button *ngIf = "ind != i" type="submit" (click)= "ingresaahorro(i)"class="btn btn-secondary btn-sm btn-block">Aplicar</button>
                    <button *ngIf="ind == i" class="btn btn-success" type="button" disabled>
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            Pagando...
                    </button>
                    </td>
                </tr>
                <tr *ngIf="lisahorro">
                    <td></td>
                    <td colspan="2"></td>
                    <td>
                        <h4>Total:</h4>
                    </td>
                    <td>
                        <h4>{{ getTotal() | currency }}</h4>
                    </td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>