<div class="row">
    <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation">
                <a mat-button class="active">
                    Compras
                    <mat-icon>shopping_cart</mat-icon>
                </a>
            </li>
            <li role="presentation">
                <a mat-button>
                    Recepcion
                    <mat-icon>shopping_basket</mat-icon>
                </a>
            </li>
            <li role="presentation">
                <a mat-button>
                    Ventas
                    <mat-icon>attach_money</mat-icon>
                </a>
            </li>
        </ul>
    </div>
</div>