<div class="principal">
    <h3>{{title}}</h3>
    <div class="row">
        <mat-form-field class="col-md-10 col-xs-12">
            <input matInput [(ngModel)]="busqueda.socio" placeholder="buscar">
        </mat-form-field>
        <div class="col-xs-12 col-md-2">
            <button class="ventas col-md-12" color="primary" mat-flat-button [routerLink]="['../nuevo']">NUEVO</button>
        </div>
    </div>
 
    <div class="reporte">
        <table class="table table-striped table-hover">
           <thead class="tablareporte">
             <tr>
                <th>Nombre</th>
                <th>Fecha Inicio</th>
                <th>Fecha Final</th>
                <th class="cen">Editar</th>
                <th class="cen">Eliminar</th>
             </tr>
           </thead>
           <tbody>
            <tr class="premio" *ngFor="let lis of premios | filter: busqueda.socio; let id = index" >
                <td>{{lis.nombre}}</td>
                <td>{{lis.rinicio}}</td>
                <td>{{lis.rfinal}}</td>
                <td class="cen"><a  [routerLink]="['../edit',lis.id]">
                    <i class="fas fa-edit botontaba"></i>
                </a></td>
                <td class="cen"><button class="botontaba" (click)="deletePremio(lis.id)">
                    <span>
                        <i class="fas fa-trash-alt"></i>
                    </span>
                </button></td>
            </tr>
           </tbody>
        </table>
    </div>
</div>