<div class="principal">
    <h3>{{title}}</h3>
    <!--Campo para el filtrado-->
    <div class="row">
        <mat-form-field class="col-md-10 col-xs-12">
            <input matInput [(ngModel)]="busqueda.socio" placeholder="buscar">
        </mat-form-field>
        <div class="col-xs-12 col-md-2">
            <button class="botonbuscar col-md-12" mat-flat-button [routerLink]="['../nuevo']">NUEVO</button>
        </div>
    </div>
    <div class="reporte">
        <table class="table table-striped table-hover">
            <thead class="tablareporte">
                <tr>
                    <th>Nombre</th>
                    <th>Razon Social</th>
                    <th class="cen">Editar</th>
                    <th class="cen">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr class="proveedor" *ngFor="let lis of proveedores | filter: busqueda.socio; let id = index">
                    <td>{{lis.nombre}}</td>
                    <td>{{lis.razon_social}}</td>
                    <td class="cen"> <a [routerLink]="['../edit',lis.id]">
                            <i class="fas fa-edit botontaba"></i>
                        </a> </td>
                    <td class="cen"><button class="botontaba" (click)="deleteRecord(lis.id)">
                            <span>
                                <i class="fas fa-trash-alt"></i>
                            </span>
                        </button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>