<div class="principal">
    <!-- creando cabecera de la requisicion -->
    <div class="row" *ngIf="requi">
        <div class="container-fluid
                    d-flex
                    justify-content-center
                    flex-row">
            <fieldset>
                <legend>{{title}}</legend>
                <!--Dibujando la baecera de informacion-->
                <mat-form-field class="p-1">
                    <input matInput [(ngModel)]="requi.fecha" #fecha="ngModel" readonly>
                </mat-form-field>
                <mat-form-field *ngIf="requi.tipo == 'COMPRA'" class="p-1">
                    <input matInput #provee="ngModel" [(ngModel)]="proveedor" placeholder="Proveedor" readonly>
                </mat-form-field>
                <mat-form-field *ngIf="requi.tipo == 'VENTA'" class="p-1">
                    <input matInput #socio="ngModel" [(ngModel)]="persona" placeholder="Socio" readonly>
                </mat-form-field>
                <mat-form-field class="p-1">
                    <input matInput [(ngModel)]="requi.ffactura" #ffecha="ngModel" placeholder="Fecha">
                </mat-form-field>
                <mat-form-field class="p-1">
                    <input matInput [(ngModel)]="requi.factura" #factura="ngModel" placeholder="Factura">
                </mat-form-field>
            </fieldset>
        </div>
    </div>
    <div class="reporte">
        <table class="table table-striped table-hover">
            <thead class="tablareporte">
                <tr>
                    <th>Codigo</th>
                    <th>Articulo</th>
                    <th>Precio</th>
                    <th>Pendiente</th>
                    <th>Recepcion</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let lis of articulos | filter: busqueda.socio; let id = index">
                    <td>{{lis.codigo}}</td>
                    <td>{{lis.articulo}}</td>
                    <td>{{lis.precio |currency}}</td>
                    <td>{{lis.pendiente}}</td>
                    <td>{{lis.recepcion}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-md-2 col-6">
            <button mat-raised-button (click)="onSubmit();" class="btn btn-success col-md-12"
                style="margin: 1px">Guardar</button>
        </div>
        <div class="col-md-2 col-6">
            <button mat-raised-button (click)="onCancel()" class="btn btn-danger col-md-12"
                style="margin: 1px">Cancelar</button>
        </div>
    </div>
</div>