<div class="principal">
    <h4 class="col-12 text-center">{{title}}</h4>
    <!--=============================================================
                         Cabecera de filtrado
    =============================================================-->
    <div class="row d-flex justify-content-center">
        <mat-form-field *ngIf="params != 1" class="col-4">
            <mat-select #provee="ngModel" [(ngModel)]="requi.proveedor_id" placeholder="Proveedor">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let prov of provlist" [value]="prov.id">{{prov.nombre}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="params == 1" class="col-4">
            <mat-select #socio="ngModel" [(ngModel)]="requi.pdestino_id" placeholder="Socio">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let prov of provlist" [value]="prov.id">
                    {{prov.nombre +' '+prov.apellidop + ' ' + prov.apellidom |uppercase}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="col-2">
            <input matInput [value]="fecha.value" [(ngModel)]="requi.fecha" [matDatepicker]="pickerFecha"
                #fecha="ngModel" placeholder="Fecha">
            <mat-datepicker-toggle matSuffix [for]="pickerFecha"></mat-datepicker-toggle>
            <mat-datepicker #pickerFecha></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="col-2">
            <input matInput [(ngModel)]="requi.ffactura" [matDatepicker]="pickerFactura" #ffecha="ngModel"
                placeholder="Fecha">
            <mat-datepicker-toggle matSuffix [for]="pickerFactura"></mat-datepicker-toggle>
            <mat-datepicker #pickerFactura></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="col-2">
            <input matInput [(ngModel)]="requi.factura" #factura="ngModel" placeholder="Factura">
        </mat-form-field>
        <div class="col col-2">
            <button class="btn btn-primary" (click)="createArticulo();">NUEVO</button>
        </div>
    </div>
    <!--=============================================================
                         Tabala de recusrsos
    =============================================================-->
    <div class="row d-flex justify-content-center">
        <table class="table table-striped table-hover">
            <thead class="tablareporte">
                <tr>
                    <th>Codigo</th>
                    <th>Articulo</th>
                    <th>Cantidad</th>
                    <th *ngIf="params==1">Existencia</th>
                    <th>Precio</th>
                    <th>Total</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let lis of articulos; let id = index">
                    <td>{{lis.codigo}}</td>
                    <td>
                        <select class="cuadrotexto" #articulo="ngModel" [(ngModel)]="lis.articulo_id"
                            (ngModelChange)="setArticulo($event,id)">
                            <option *ngFor="let artitem of artilist" [value]="artitem.id">
                                {{artitem.articulo +' '+ artitem.marca +' '+ artitem.modelo | uppercase}} </option>
                        </select>
                    </td>
                    <td>
                        <input class="cuadrotexto" [(ngModel)]="lis.cantidad" #factura="ngModel" type="number">
                    </td>
                    <td *ngIf="params==1">{{lis.totalExistencia}}</td>
                    <td>
                        <input class="cuadrotexto" [(ngModel)]="lis.precio" #factura="ngModel" type="number">
                    </td>
                    <td>{{lis.cantidad * lis.precio  |currency}}</td>
                    <td class="cen"> <button class="botontaba" (click)="deleteArticulo(id)" color="primary">
                            <span> <i class="fas fa-trash-alt"></i></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!--=============================================================
                         Botonera de aceptacion
    =============================================================-->
    <div class="row d-flex justify-content-around">
        <button *ngIf="spin == false" class="btn btn-success col-5" type="button" (click)="onSubmit();">Guardar</button>
        <button *ngIf="spin == true" class="btn btn-success btn-sm btn-block col-5" type="button" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Guardando...
        </button>
        <button class="btn btn-danger col-5" type="button" (click)="onCancel();">Cancelar</button>
    </div>
</div> 