<div class="principal">
    <!-- creando cabecera de la requisicion -->
    <div class="row">
        <div class="container-fluid ">
            <fieldset>
                <legend>Hola soy la cabecera de la requisicion</legend>
                <!--Dibujando la baecera de informacion-->
                <mat-form-field>
                    <input matInput
                            [value]="fecha.value"
                            [(ngModel)]="requi.fecha"
                            [matDatepicker]="pickerFecha"
                            #fecha="ngModel"
                            placeholder="Fecha"
                    >
                    <mat-datepicker-toggle matSuffix [for]="pickerFecha"></mat-datepicker-toggle>
                    <mat-datepicker #pickerFecha></mat-datepicker>
                </mat-form-field>
                <mat-form-field>
                    <mat-select #provee="ngModel"
                                [(ngModel)]="requi.proveedor_id"
                                placeholder="Proveedor"        
                    >
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let prov of provlist" [value]="prov.id">{{prov.nombre}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <input matInput
                            [(ngModel)]="requi.ffactura"
                            [matDatepicker]="pickerFactura"
                            #ffecha="ngModel"
                            placeholder="Fecha"
                    >
                    <mat-datepicker-toggle matSuffix [for]="pickerFactura"></mat-datepicker-toggle>
                    <mat-datepicker #pickerFactura></mat-datepicker>
                </mat-form-field>
                <mat-form-field>
                    <input matInput
                        [(ngModel)]="requi.factura"
                        #factura = "ngModel"
                        placeholder="Factura"
                        >
                </mat-form-field>
                <mat-form-field>
                    <input matInput
                        type="number"
                        [(ngModel)]="requi.importe"
                        #importe = "ngModel"
                        placeholder="importe"
                                >
                </mat-form-field>
            </fieldset>
        </div>
    </div>
    <!-- Creando tabla de Articulos -->
    <div class="row"
         style="height: 53vh; overflow: auto;"
    >
        <table mat-table
               [dataSource]="articulos"
               mat-Sort
               class="col-md-12 col-xs-12"
        >
        <ng-container matColumnDef="codigo">
                <th mat-header-cell
                    class="thm
                           col-md-1
                    "
                    *matHeaderCellDef
                    mat-sort-header > Codigo </th>
                <td mat-cell
                    *matCellDef="let row"> {{row.codigo}} </td>
            </ng-container>
            <ng-container matColumnDef="nombre">
                <th mat-header-cell
                    class="thm
                           col-md-3
                    "
                    *matHeaderCellDef
                    mat-sort-header > Articulo </th>
                <td mat-cell

                    *matCellDef="let row; let i = index">
                    <mat-form-field
                    class="col-md-12"
                    >
                        <mat-select #articulo="ngModel"
                                    [(ngModel)]="row.articulo_id"
                                    (ngModelChange)="setArticulo($event,i)"
                        >
                        <mat-option *ngFor="let artitem of artilist" [value]="artitem.id">{{artitem.nombre}} {{artitem.marca}} {{artitem.modelo}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
            </ng-container>
            <ng-container matColumnDef="cantidad">
                <th mat-header-cell
                    class="thm
                           col-md-1
                    "
                    *matHeaderCellDef
                    mat-sort-header > Cantidad </th>
                <td mat-cell
                    *matCellDef="let row">
                    <mat-form-field>
                            <input matInput
                                [(ngModel)]="row.cantidad"
                                #factura = "ngModel"
                                type="number"
                                >
                    </mat-form-field>
                </td>
            </ng-container>
            <ng-container matColumnDef="precio">
                <th mat-header-cell
                    class="thm
                           col-md-1
                    "
                    *matHeaderCellDef
                    mat-sort-header > precio </th>
                <td mat-cell
                    *matCellDef="let row">
                    <mat-form-field>
                            <input matInput
                                [(ngModel)]="row.precio"
                                #factura = "ngModel"
                                type="number"
                                >
                    </mat-form-field>
                </td>
            </ng-container>
            <ng-container matColumnDef="total">
                <th mat-header-cell
                    class="thm
                           col-md-1
                    "
                    *matHeaderCellDef
                    mat-sort-header > Total </th>
                <td mat-cell
                    *matCellDef="let row"> {{row.cantidad * row.precio  |currency}} </td>
            </ng-container>
            <ng-container matColumnDef="actions">
                <th mat-header-cell
                    class="thm
                           col-md-1
                    "
                    *matHeaderCellDef
                    mat-sort-header >
                        <button mat-raised-button
                        class="botonpri"
                        (click)="createArticulo();"
                        >
                            <mat-icon>add</mat-icon> 
                        </button>
                </th>
                <td mat-cell
                    *matCellDef="let i = index">
                    <button mat-icon-button
                            (click)="deleteArticulo(i)"
                            color="primary">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>
            <!--Definicion de tbalas-->
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;let i = index"></tr>
        </table>
    </div>
    <!-- Creando paginador  -->
    <div class="row">
        <mat-paginator [pageSizeOptions]="[10, 15, 20]"></mat-paginator>
    </div>
    <div class="row">
        <button mat-raised-button
                (click)="onSubmit();"
                class="btn btn-success
                       col-md-2   
                "
        >Guardar</button>
        <button mat-raised-button
                class="btn btn-danger">Cancelar</button>
    </div>
</div>