<div class="principal">
    <h3>{{title}}</h3>
    <div class="row">
        <mat-form-field class="col-12">
            <input matInput [(ngModel)]="busqueda.socio" placeholder="buscar">
        </mat-form-field>
    </div>
    <div class="reporte">
            <table class="table table-striped table-hover">
                <thead class="tablareporte">
                    <tr>
                        <th>Folio</th>
                        <th>Fecha</th>
                        <th>Proveedor</th>
                        <th>Importe</th>
                        <th>Tipo</th>
                        <th>Recibir</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="articulo" *ngFor="let lis of requisicion | filter: busqueda.socio; let id = index">
                        <td>{{lis.folio}}</td>
                        <td>{{lis.fecha | date:'dd/MM/yyyy'}}</td>
                        <td *ngIf="lis.proveedor">{{lis.proveedor.nombre}}</td>
                        <td *ngIf="!lis.proveedor">{{lis.porigen.nombre}}</td>
                        <td>{{lis.importe |currency}}</td>
                        <td>{{lis.tipo}}</td>
                        <td> <button mat-icon-button [routerLink]="['../recepcion',lis.id]" color="primary">
                            <mat-icon>done</mat-icon>
                        </button></td>
                    </tr>
                </tbody>
            </table>
        </div>
</div>