<div class="principal">
<h2>{{title}}</h2>
<form #personalEdit="ngForm" (ngSubmit)="onSubmit(personalEdit)" *ngIf="persona != null">
    <div class="container-fluid">
        <div class="row">
            <!--Datos personales-->
            <fieldset class="form-group col-md-6">
                <legend>Datos personales</legend>
                
                <div class="row form-group">
                    <mat-form-field class="col-md-6 col-xs-12">
                        <input type="text" matInput name="nombre" #nombre="ngModel" [(ngModel)]="persona.nombre" placeholder="Nombre"  required>
                    </mat-form-field>
                    <mat-form-field class="col-md-3 col-xs-12">
                        <input type="text" matInput name="apellidop" #apellidop="ngModel" [(ngModel)]="persona.apellidop" placeholder="Apellido Paterno" required>
                    </mat-form-field>
                    <mat-form-field class="col-md-3 col-xs-12">
                        <input type="text" matInput name="apellidom" #apellidom="ngModel" [(ngModel)]="persona.apellidom" placeholder="Apellido Materno" required>
                    </mat-form-field>
                </div>
                <div class="row form-group">
                    <mat-form-field class="col-md-8 col-xs-12">
                        <input type="email" matInput name="email" #email="ngModel" [(ngModel)]="persona.email" placeholder="Email" required>
                    </mat-form-field>
                    <mat-form-field class="col-md-4 col-xs-12">
                        <mat-select name="status" #status="ngModel" [(ngModel)]="persona.status" placeholder = "Status" required>
                            <mat-option value="ACTIVO">ACTIVO</mat-option>
                            <mat-option value="INACTIVO">INACTIVO</mat-option>
                            <mat-option value="BAJA">BAJA</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="row form-group">
                    <mat-form-field class="col-md-12 col-xs-12">
                        <textarea type="text" matInput name="descripcion" #descripcion="ngModel" [(ngModel)]="persona.descripcion" placeholder="Descripcion" required></textarea>
                    </mat-form-field>
                </div>
                <br>
           
            </fieldset>
            <!--Datos Domicilio-->
            <fieldset class="form-group col-md-6">
                <legend>Domicilio</legend>
                <div class="row form-group">
                    <mat-form-field class="col-md-8 col-xs-12">
                        <input type="text" matInput name="calle" #calle="ngModel" [(ngModel)]="persona.calle"  placeholder="Calle" required>
                    </mat-form-field>
                    <mat-form-field class="col-md-2 col-xs-6">
                        <input type="text" matInput name="noint" #noint="ngModel" [(ngModel)]="persona.noint" placeholder="No Int" required>
                    </mat-form-field>
                    <mat-form-field class="col-md-2 col-xs-6">
                        <input type="text" matInput name="noext" #noext="ngModel" [(ngModel)]="persona.noext" placeholder="No Ext" >
                    </mat-form-field>
                </div>
                <div class="row form-group">
                    <mat-form-field class="col-md-6 col-xs-12">
                        <input type="text"  matInput name="ciudad" #ciudad="ngModel" [(ngModel)]="persona.ciudad" placeholder="Ciudad" required>
                    </mat-form-field>
                    <mat-form-field class="col-md-6 col-xs-12">
                        <input type="text" matInput name="estado" #estado="ngModel" [(ngModel)]="persona.estado" placeholder="Estado" required>
                    </mat-form-field>
                </div>
                <div class="row form-group">
                    <mat-form-field class="col-md-7 col-xs-12">
                        <input type="text" matInput name="colonia" #colonia="ngModel" [(ngModel)]="persona.colonia" placeholder="Colonia" required>
                    </mat-form-field>
                    <mat-form-field class="col-md-5 col-xs-12">
                        <input type="text" matInput name="cp" #cp="ngModel" [(ngModel)]="persona.cp" placeholder="C.P." required>
                    </mat-form-field>
                </div>
            </fieldset>
        </div>
             <div class="row ">
                <div class="col-md-3 col-xs-3">
                    <input type="submit" value="Guardar" class="btn btn-success col-md-12"  [disabled]="!personalEdit.form.valid">
                </div>
                <div class="col-md-3 col-xs-3">
                    <a type="submit" class="btn btn-danger col-md-12" (click)="CancelEdit()">Cancelar</a>
                </div>
            </div>
   </div>
    <div class="row container-fluid">
        <personal-register [persona]="persona" class="col-md-6" *ngIf="persona.id >= 1||persona != null"></personal-register>
    </div>

</form>
</div>