<div class=" container-fluid principal">
    <form #userEdit="ngForm"  (ngSubmit)="makeUser()">
        <fieldset class="form-group" *ngIf=" user != null && user.id == 0">
            <span *ngIf="status == 'success'" class="alert alert-success">El suuario ya se armo</span>
            <div>
                <legend>Informacion usuario</legend>
                <div class="row form-group">
                    <mat-form-field class="col-md-12">
                        <input type="text" matInput name="username" #username="ngModel" [(ngModel)]="user.username" placeholder="username" required>
                    </mat-form-field>
                </div>
                <div class="row form-group">
                        <mat-form-field class="col-md-12">
                            <input type="text" matInput name="email" #email="ngModel" [(ngModel)]="persona.email" placeholder="Email" required>
                        </mat-form-field>
                </div>
                <div class="row form-group">
                        <mat-form-field class="col-md-12 col-xs-12">
                            <input type="text" matInput name="password" #password="ngModel" [(ngModel)]="user.password" placeholder="Password" required>
                        </mat-form-field>
                </div>
                <div class= "row form-group">
                    <div class="col-md-5 col-xs-5">
                        <button type="submit" value="registrar" class="btn btn-primary" name="registrar" [disabled]="!userEdit.form.valid">Guardar</button>
                    </div>
                    <div class="col-md-5 col-xs-5">
                            <button type="button" class="btn btn-danger" name="cancelar" (click)="closeDialog()">Cancelar</button>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>