<div class="principal">
    <h3>{{title}}</h3>
    <div class="row">
        <mat-form-field class="col-md-4 col-xs-12">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="buscar">
        </mat-form-field>
        <mat-form-field class="col-md-3 col-xs-12">
            <mat-select matInput [(ngModel)]="lider"  placeholder="Lider">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let persona of personal" [value]="persona.id">
                    {{persona.nombre+ ' ' +persona.apellidop+ ' '+ persona.apellidom}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="col-md-3 col-xs-12">
            <mat-select matInput [(ngModel)]="puesto" placeholder="Puesto">
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let persona of personal" [value]="persona.id">
                        {{persona.nombre+ ' ' +persona.apellidop+ ' '+ persona.apellidom}}
                    </mat-option>
            </mat-select>
        </mat-form-field>
        <div class="col-xs-12 col-md-1">
            <button class="ventas col-12 " color="primary" mat-flat-button (click)="viewFilter();">
                <span>
                    <i class="fas fa-search"></i>
                </span>
            </button>
        </div>
        <div class="col-xs-12 col-md-1">
            <button class="ventas col-12" color="primary" mat-flat-button [routerLink]="['../nuevo']">
                <span>
                    <i class="fas fa-plus"></i>
                </span>
            </button>
        </div>
    </div>
    <div class="row">
        <table mat-table [dataSource]="dataSource" matSort class="col-md-12 col-xs-12 mat-elevation-z8">
            <ng-container matColumnDef="nombre">
                <th class="thm" mat-header-cell *matHeaderCellDef> Nombre</th>
                <td style="padding-top:.7em;" mat-cell *matCellDef="let row">
                    <h5>{{row.nombre}} {{row.apellidop}} {{row.apellidom}}</h5>
                    <p>{{row.oficina}}</p>
                </td>
            </ng-container>
            <ng-container matColumnDef="oficina">
                <th class="thm" mat-header-cell *matHeaderCellDef> Lider</th>
                <td style="padding-top:.7em;" mat-cell *matCellDef="let row">
                        {{row.puesto.puesto}}
                </td>
            </ng-container>
            <ng-container matColumnDef="Visualizar">
                <th class="thm" mat-header-cell *matHeaderCellDef mat-sort-header> Visualizar </th>
                <td mat-cell *matCellDef="let row">
                    <a class="botontaba" [routerLink]="['../visual',row.id]">
                        <i class="fas fa-eye"></i>
                    </a>
                </td>
            </ng-container>
            <ng-container matColumnDef="editar">
                <th class="thm" mat-header-cell *matHeaderCellDef mat-sort-header> Editar </th>
                <td mat-cell *matCellDef="let row">
                    <a class="botontaba" [routerLink]="['../edit',row.id]">
                        <i class="fas fa-edit"></i>
                    </a>
                </td>
            </ng-container>
            <ng-container matColumnDef="eliminar">
                <th class="thm" mat-header-cell *matHeaderCellDef mat-sort-header> Eliminar </th>
                <td mat-cell *matCellDef="let row">
                    <button class="botontaba" (click)="deletePersona(row.id)">
                        <span>
                            <i class="fas fa-trash-alt"></i>
                        </span>
                    </button>
                </td>
            </ng-container>
            <ng-container matColumnDef="usuario">
                <th class="thm" mat-header-cell *matHeaderCellDef mat-sort-header> Cuenta</th>
                <td mat-cell *matCellDef="let row">
                    <button class="botontaba" (click)="openDialog(row)" [disabled]="row.usuario != null">
                        <span>
                            <i class="fas fa-user-plus"></i>
                        </span>
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns ;sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>