<div class="container-fluid">
   <div class="contenedor">
			  <div *ngIf="token == null">
			<img src="../../../assets/easyload.png">
               <hr>
           <form class="formulario" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
			         <!--Campo email-->
					<div class="form-group">
							<i class ="icono izquierda fa fa-envelope"></i>
							<input type="text" name="email" #email="ngModel" [(ngModel)]="user.email"  placeholder="Email" required>
							<span *ngIf="!email.valid && email.touched"></span>
				   </div>
					      <!--Campo pass-->
					<div class="form-group">
					     <i class = "icono izquierda fa fa-lock"></i>
							<input type="password"  name="password" #password="ngModel" [(ngModel)]="user.password"  required placeholder="Contraseña" >	
							<span *ngIf="!password.valid && password.touched"></span>
					</div>  
					 <div class="alerta" *ngIf="status=='error'">
							Correo o contraseña no validos
						</div>
					   <br>
						<div class="botones">
							<button  class="boton" type="submit" value="Login"  [disabled]="!loginForm.form.valid">login</button>
					  </div>
			   </form>
         </div>
   </div>
</div>