
/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

.contenedor {
   max-width: 500px;
  width: 90%;
  margin: auto;
  background:  #9e9e9e;
  font-family: 'Raleway', sans-serif;
  border-radius: 10px;
}

.alerta{
color: red;
}

.titulo {
  font-weight: 300px;
  color:black;
  text-align: center;
  margin-top: 60px;
  font-family: tahoma;
  padding: 10px;
}

.border {
	border:none;
	margin-bottom: 5px; 
	border-top:5px solid #616161;
	background: none;
	color:none;
}

.formulario {
	background: #bdbdbd;
	padding: 30px;
    border-radius: 0px 0px 10px 10px;
}

.formulario .form-group {
	width: 100%;	
}

.formulario input[type="text"],
.formulario input[type="password"] {
	padding: 15px;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	line-height: 18px;
	border: none;
	vertical-align: top;
}

.formulario .icono {
	padding: 15px;
	text-align: center;
	width: 48px;
	max-height: 48px;
	font-size: 27px;
	line-height: 18px;
    display: inline-block;
	color:black;
	vertical-align: top;
}

.formulario .icono.izquierda {
	 margin-right: 4px;
	-webkit-border-radius: 3px 0 0 3px;
	-moz-border-radius: 3px 0 0 3px;
	-ms-border-radius: 3px 0 0 3px;
	-o-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;
}

.formulario .usuario {
	width: calc(100% - 52px);
	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	-ms-border-radius: 0 3px 3px 0;
	-o-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
}

.formulario .alerta {
	padding: 0 20px;
}

.formulario .alerta  {
	margin-bottom: 10px;
}

.botones {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.separar {
  width: 75%;
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  overflow: hidden;
  margin: 0 auto;
}
.boton {
  width: 100%;
  display: block;
  color: #fff !important;
  font-size: 20px;
  font-weight: 500;
  padding: 0.5em 1.2em;
  background: #6200EE;
  border: 2px solid;
  border-color: #6200EE;
  position: relative;
}
.boton:before {
  content:"";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0px;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  transition: all 1s ease;
}
.boton:hover:before {
width: 100%;
}
