<div class="principal">
       <div class="tamaño">
   
           <div class="row">
            <div class ="col m9">
                     <h3 class=" col m4">{{title}}</h3>
            </div>
            <div class ="col m3">
                    <a class="btn tooltipped col m10" data-position="bottom"  data-tooltip="Nuevo Articulo" [routerLink]="['../nuevo']" style= "margin-top: 30px">
                    <i class="material-icons">add</i>
                    </a>
            </div>
            </div>
        </div>
                <table class="striped" *ngIf="articulos != null" style="margin-top:-18px">
                        <thead class="titabla">
                            <tr>
                                <th>Codigo</th>
                                <th>Articulo</th>
                                <th>Marca</th>
                                <th class="hidden-xs">Modelo</th>
                                <th>Editar</th>
                                <th>Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let articulo of articulos">
                                <td class="col-md-1">{{articulo.codigo}}</td>
                                <td class="col-md-3">{{articulo.nombre}}</td>
                                <td class="col-md-3">{{articulo.marca}}</td>
                                <td class="col-md-3 hidden-xs">{{articulo.modelo}}</td>
                                <td class="col-md-1">
                                    <a class="btn-lg botabl"[routerLink]="['../edit',articulo.id]">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </a>
                                </td>
                                <td class="col-md-1">
                                    <a class="btn-lg botabl" (click)="deleteRecord(articulo.id)">
                                            <span class="glyphicon glyphicon-trash" ></span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
</div>