/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/*===============================================
  TITULOS DE LAS TABLAS DE LOS CATALOGOS
 ===============================================*/
   .thm 
   {
     background:black;
     color: #FFFFFF;
     font-family: Arial, Helvetica, sans-serif;
   }
  /*===============================================
    BOTON PRINCIPAL DE CADA PRESENTACION 
 ===============================================*/
.botonpri
{
  background-color:#4CAF50;
}
button{
  -webkit-user-select: auto !important;
}
/*===============================================
  BOTONES DE ACCION DENTRO DE LA TABLA
 ===============================================*/
.botontaba 
{
  font-size: 1.6em;
  color:  blue;
  background: none;
  border: none;
  margin-top: -30px;
}
.botontaba:hover 
{  
 color: Dodgerblue;
}
.botabl
{
  display:flex;
  justify-content: left;
  font-style: normal;
 }
/*===============================================
   MARGEN PRINCIPAL EN TODAS LAS PANTALLAS
 ===============================================*/
.principal
{
  margin-right: 2%; 
  margin-left: 1%;
  margin-top: 2%;
}

.cuadrotexto
{
  background: transparent;
  border: none;
  border-bottom: 1px solid black;
}
/*===============================================
   COLOR  PARA LA BARRA DE MENU
 ===============================================*/

.navbar {
  background: LightGrey;
  color: #fff;
  }
  .loader 
  {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid blue;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  html, body { height: 100%; }
  body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

  .spacer{
    flex:1 1 auto;
}

/*===========================================================================
 botones de venta
 ============================================================================*/
.ventas {
  height: 75%;
}
/*===============================================
   CABECERAS DE LAS TABLAS 
 ===============================================*/

 .tablareporte{
   background: darkcyan;
   color: white
 }
/*===============================================
   BOTONE DE BUSQUEDA DE LAS TABLAS
 ===============================================*/
 .botonbuscar{
   background: DarkSlateGray;
   width:80px;
   height:50px;
   color: white;
   border:0px;
 }
 /*===============================================
   LISTA REPORTE SOCIO CAMBACEO PARA TELEFONOS MOBILES
 ===============================================*/
 @media screen and (max-width: 600px) {
  .reporte .table, .reporte thead, .reporte tbody, .reporte th, .reporte td, .reporte tr {
    display: block;
  }

  /* ======================================================
     AL INGRESAR EN MOBIL NO MUESTRE EL ENCABEZADO DE LA TABLA 
  =============================================================*/
  .reporte thead tr {
     display: none;
  }

  .reporte tr {
    margin: 0 0 1rem 0;
  }
    
  .reporte td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 3px solid #eee;
    position: relative;
    text-align: right;

  }

  .reporte td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 0;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    padding-top: 10px;
    white-space: nowrap;
  }

  /*==========================================================================
    SIRVE PARA MOSTRAR EL TITULO EN CADA TD DE LA TABLA PIEZAS
  ==========================================================================*/
  .p td:nth-of-type(1):before { content: "Articulo"; }
  .p td:nth-of-type(2):before { content: "Modelo"; }
  .p td:nth-of-type(3):before { content: "Piezas Vendidas"; }
  .p td:nth-of-type(4):before { content: "Precio Piezas"; }
  .p td:nth-of-type(5):before { content: "Costo Total"; }
  /*==========================================================================
    SIRVE PARA MOSTRAR EL TITULO EN CADA TD DE LA TABLA PREMIO
  ==========================================================================*/
  .rpre td:nth-of-type(1):before { content: "ID Pedido"; }
  .rpre td:nth-of-type(2):before { content: "Socio"; }
  .rpre td:nth-of-type(3):before { content: "Premio"; }
  .rpre td:nth-of-type(4):before { content: "Dia"; }

    /*==========================================================================
    SIRVE PARA MOSTRAR EL TITULO EN CADA TD DE LA TABLA AHORRO
  ==========================================================================*/
  .rahorro td:nth-of-type(1):before { content: "Nombre"; }
  .rahorro td:nth-of-type(2):before { content: "Fecha"; }
  .rahorro td:nth-of-type(3):before { content: "Dia"; }
  .rahorro td:nth-of-type(4):before { content: "Importe"; }
  .rahorro td:nth-of-type(5):before { content: "Status"; }
  .rahorro td:nth-of-type(6):before { content: "Seleccionar"; }
}

  /*==========================================================================
    CLASE PARA CENTRAR OBJETOS EN LAS TABLAS
  ==========================================================================*/
.cen
{
 text-align: center;
}


  /*==========================================================================
    CSS PARA LOS MODAL
  ==========================================================================*/

.modal-backdrop {
  z-index: 1040 !important;
}
.modal-dialog {
  margin: 2px auto;
  z-index: 1100 !important;
}
.modal-backdrop {
  /* bug fix - no overlay */    
  display: none;    
}