/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/*===============================================
  titulo de la tabla
 ===============================================*/
   .thm {
     background:black;
     color: #FFFFFF;
     font-family: Arial, Helvetica, sans-serif;
   }
  /*===============================================
    boton principal de cada presentacion
 ===============================================*/
.botonpri{
  background-color:#4CAF50;
}
/*===============================================
 botones dentro de la tabla
 ===============================================*/
.botontaba {
  font-size: 1.6em;
  color:  blue;
  background: none;
  border: none;
}
.botontaba:hover {  
 color: Dodgerblue;
}
.botabl {
  display:flex;
  justify-content: left;
  font-style: normal;
     }
/*===============================================
   margen de la pantalla principal
 ===============================================*/
.principal{
  margin-right: 2%; 
  margin-left: 1%;
  margin-top: 2%;
}
  .mat-tooltip {
    background-color: darkblue;
    font-size: 12px;
  }
  .loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid blue;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  html, body { height: 100%; }
  body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

  .spacer{
    flex:1 1 auto;
}

/*===========================================================================
 botones de venta
 ============================================================================*/
.ventas {
  height: 75%;
}
