<div class="principal">
    <div class="container-fluid">
        <legend>{{title}}</legend>
        <div class="form-group">
            <mat-list>
                <mat-list-item *ngFor="let alma of ven; let i = index">
                    <mat-form-field class="col-md-3">
                        <input type="text" matInput #ctipo="ngModel" [(ngModel)]="alma.tipo" placeholder="Tipo"
                            required>
                    </mat-form-field>
                </mat-list-item>
            </mat-list>
        </div>
    </div>
</div>