<div class="container-fluid">
    <div class="=contenedor">
        <ul>
            <div class="row">
                <li *ngFor="let alma of vent; let i = index">
                    <h4>{{alma.articulo}}</h4>
                    <p><span>Existencia: </span>{{alma.existencia - alma.venta}}</p>
                    <div class="numero">
                        <button class="botonventa col-md-1 col-2" (click)="aumentar(i,'suma');">
                            <span>
                                <i class="fas fa-plus" value="aumentar"></i>
                            </span>
                        </button>
                        <span *ngIf="alma.venta">{{alma.venta}}</span>
                        <span *ngIf="!alma.venta">0</span>
                        <button class="botonventa col-md-1 col-2" (click)="aumentar(i,'resta');">
                            <span>
                                <i class="fas fa-minus"></i>
                            </span>
                        </button>
                    </div>
                </li>
            </div>
            <div class="row">
                <button class="carrito col-md-1" (click)="Guardar()" *ngIf="vent">
                    <span>
                        <i class="fas fa-shopping-cart"></i>
                    </span>
                </button>
            </div>
        </ul>
    </div>
</div>