<div class="principal">
    <div style="text-align: center;padding-top: 1%">
        <h3>{{title}}</h3>
    </div>
    <fieldset>
            <mat-form-field class="col-md-3 col-xs-12">
                <input matInput [matDatepicker]="picker" placeholder="Fecha Inicio" #inicio="ngModel"
                    [(ngModel)]="busqueda.inicio">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="col-md-3 col-xs-12">
                <input matInput [matDatepicker]="picker2" placeholder="Fecha Final" #final="ngModel"
                    [(ngModel)]="busqueda.final">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="col-md-3 col-xs-12">
                <mat-select matInput [(ngModel)]="busqueda.socio" placeholder="Socio Comercial" #socio="ngModel" (ngModelChange)="setPersonal($event)" >
                    <mat-option *ngFor="let  pedi of perso" [value]="pedi.id">{{pedi.nombre}}</mat-option>
                </mat-select>
            </mat-form-field>
            <button type="submit" class=" col-md-3 col-xs-12  botonbuscar " (click)="listapieza()">Buscar</button>
        </fieldset>
    <br>
    <table class="table table-striped">
        <thead class="tablareporte">
            <tr>
                <th>Id Pedido</th>
                <th>Articulo</th>
                <th>Modelo</th>
                <th>Venta</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let lis of lista;let i = index">
                <td>{{ lis.id }}</td>
                <td>{{ lis.articulo }}</td>
                <td>{{ lis.modelo }}</td>
                <td>{{ lis.venta }}</td>
            </tr>
        </tbody>
    </table>
</div>